---
import Card from '../components/Card.astro';
import QuoteBanner from '../components/QuoteBanner.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

interface PostData {
    slug: string;
    data: {
        title: string;
        summary: string;
        img: string;
    };
}

const posts = (await getCollection('posts')) as PostData[];
---

<Layout title='Home'>
    <main class='flex flex-col items-center justify-center'>
        <h1 class='text-3xl font-semibold text-white mb-4'>Amazona Frentirroja</h1>
        <section class='m-5 rounded-md'>
            <QuoteBanner server:defer>
                <h1
                    class='mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white'
                    slot='fallback'
                >
                    Cargando...
                </h1>
            </QuoteBanner>
        </section>
        <section id='carousel' class='grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-2'>
            {
                posts.map(post => (
                    <Card
                        key={post.slug}
                        title={post.data.title}
                        href={`/${post.slug}`}
                        body={post.data.summary}
                        img={post.data.img}
                    />
                ))
            }
        </section>
    </main>
</Layout>

<style>
    .carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .carousel > * {
        flex: 0 0 auto;
        scroll-snap-align: start;
        margin-right: 1rem;
    }
</style>
